$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;
$font-primary: #551a8b;

$background-light: #fff;
$background-grey: #F5F6F7;
$background-primary: #2B253A;

$border-grey: #dbdbdb;
$border-grey-dark: #606060;
$border-dark: #000;
$border-primary: rgba(85, 26, 139, 0.5);

$elm: #246782;
$mexican: #a71f2a;
$cabbage: #47553c;
$mortar: #4f4255;
$daisy: #521987;


//media
$media-desktop: 992px;
$media-mobile: 768px;

//font
$font: 'Mulish', sans-serif !important;
